# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
.next
out
dist
build

# Development
.vscode
.idea
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
